body {
  background-image: url("https://cdn.wallpaperdirect.com/asset/img/product/160332/tiled/graham-and-brown-gothic-damask-flock-white-wallpaper-tiled-160332.jpg");
}

.highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.blue {
  background-color: lightcoral;
  text-align: center;
}
.red {
  background-color: lightblue;
}